.p-search {
  margin: 0 auto;
  margin-top: 40px;


  @include breakpoint (pc) {
    margin-top: 0;
    padding-right: 30px;
  }


  &__input {
    width: 230px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: #FFFFFF;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2.0rem;


    @include breakpoint (tablet) {
      width: 396px;
    }

    @include breakpoint (pc) {}
  }

  &__btn {
    width: 78px;
    height: 46px;
    margin-left: 12px;
    font-size: 1.6rem;
    color: #707070;
    background-color: #F2EDE9;
    border-radius: 10px;
    border: 1px solid #707070;

    @include breakpoint (tablet) {
      width: 136px;
    }

    @include breakpoint (pc) {}



  }
}