.c-button {

  &__menu {
    position: absolute;
    right: 16px;
    top: 14px;
    border: none;
    background-color: #FFF7EF;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    @include breakpoint (tablet) {
      font-size: 3.4rem;
    }

    @include breakpoint (pc) {
      display: none;
    }
  }

  &__open {
    font-size: 2.0rem;
    font-weight: initial;
    color: #707070;
    background-color: #FFF7EF;
    cursor: pointer;
  }

  &__close {
    width: 0;
    height: 0;
    cursor: pointer;

    &.is-open {
      color: #F2EDE9;
      position: fixed;
      top: 15px;
      right: 25px;

      &::before,
      &::after {
        content: "";
        width: 40px;
        height: 3px;
        background: #707070;
        position: absolute;
        left: -20px;
        display: block;
      }

      &::before {
        top: 25px;
        transform: rotate(45deg);
      }

      &::after {
        top: 25px;
        transform: rotate(-45deg);
      }
    }
  }
}