.c-title {
  &__main {
    font-size: 3.6rem;
    color: #fff;
    font-family: 'M+ 1m';
    padding: 126px 135px 123px 25px;

    @include breakpoint (tablet) {
      padding-left: 86px;
    }

    @include breakpoint (pc) {
      font-size: 4.0rem;
    }
  }

  &__TakeOut {
    font-size: 4.1rem;
    color: #EAEAEA;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 230px;

    @include breakpoint (tablet) {
      font-size: 4.4rem;
    }

    @include breakpoint (pc) {
      font-size: 8.0rem;
      margin-left: 20px;
    }
  }

  &__EatIn {
    font-size: 4.1rem;
    color: #EAEAEA;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 230px;

    @include breakpoint (tablet) {
      font-size: 4.4rem;
    }

    @include breakpoint (pc) {
      font-size: 8.0rem;
      margin-left: 20px;
    }
  }

  &__TakeOut::after {
    content: "";
    height: 5px;
    width: 33px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 86px;

    @include breakpoint (pc) {
      width: 65px;
      top: 160px;
    }
  }

  &__EatIn::after {
    content: "";
    height: 5px;
    width: 33px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 86px;

    @include breakpoint (pc) {
      width: 65px;
      top: 160px;
    }
  }

  &__map {
    font-size: 3.0rem;
    font-weight: initial;
    position: relative;
    margin-bottom: 50px;
    color: #fff;

    &::after {
      content: "";
      height: 3px;
      width: 75px;
      position: absolute;
      background: #fff;
      left: 0;
      top: 70px;
    }
  }

  &__sidebar {
    font-size: 2.4rem;
    font-weight: initial;
  }


}
