.l-container {
  display: flex;

  &__main {
    width: 100%;
  }
}

.l-container__flexbox {
  @include breakpoint (tablet) {
    display: flex;
  }

  @include breakpoint (pc) {
    display: flex;
  }
}
